@model LaTienda.Models.Producto

@{
    ViewData["Title"] = "Create";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Marca</label>
                <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.IdMarca"></select>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" onchange="" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MargenGanancia" class="control-label"></label>
                <input asp-for="MargenGanancia" class="form-control col-11" accept="number" style="display: inline-flex" /> %
                <span asp-validation-for="MargenGanancia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>

</script>
